openapi: 3.0.0
info:
  title: Pond Mobile API reference
  contact:
    email: support@pondmobile.com
  version: '2.1'
servers:
  - url: https://api.pondmobile.com/v2.1
paths:
  /core/countries:
    get:
      tags:
        - Core
      summary: Returns a list of countries.
      description: The endpoint returns a list of countries and their ID and names.
      parameters:
        - name: count
          in: query
          description: The number of items you want to retrieve in a single API call.
          schema:
            type: integer
        - name: offset
          in: query
          description: The parameter is used in pagination to specify the starting point in the data set from where the 'count' number of items will be returned. For example, if the offset is set to 10 and the count is set to 5, the API will skip the first 10 items and then return the next 5 items in the data set.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the list of countries are returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: The total number of countries in the response.
                    type: integer
                    format: int64
                  offset:
                    description: The offset value used for pagination, indicating the starting point of the returned countries.
                    type: integer
                    format: int64
                  count:
                    description: The number of countries included in the current response.
                    type: integer
                    minimum: 1
                    maximum: 100
                  countries:
                    description: An array containing the list of countries.
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /core/companies:
    get:
      tags:
        - Core
      summary: Returns a list of sub-companies.
      description: The endpoint returns a list of companies under your company. This endpoint is available only if the sub-company module is enabled.
      parameters:
        - name: count
          in: query
          description: The number of items you want to retrieve in a single API call.
          schema:
            type: integer
        - name: offset
          in: query
          description: The parameter is used in pagination to specify the starting point in the data set from where the 'count' number of items will be returned. For example, if the offset is set to 10 and the count is set to 5, the API will skip the first 10 items and then return the next 5 items in the data set.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the list of companies are returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: The total number of sub-companies available in the system.
                    type: integer
                    format: int64
                  offset:
                    description: The offset value used for pagination, indicating the starting point of the returned countries.
                    type: integer
                    format: int64
                  count:
                    description: The number of countries included in the current response.
                    type: integer
                    minimum: 1
                    maximum: 100
                  companies:
                    description: An array containing information about each sub-company.
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - Core
      summary: Creates a new sub-company.
      description: The endpoint creates a company under your company. This endpoint is available only if the sub-company module is enabled.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the sub-company.
                  type: string
                note:
                  description: A note or additional information associated with the sub-company. This field is optional.
                  type: string
                email:
                  description: The email address associated with the sub-company.
                  type: string
      parameters:
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, a new sub-company is created.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: Invalid inputs
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /core/companies/{sub_company_id}:
    get:
      tags:
        - Core
      summary: Retrieve a sub-company.
      description: The endpoint returns a company under your company. This endpoint is available only if the sub-company module is enabled.
      parameters:
        - name: sub_company_id
          in: path
          required: true
          description: The ID of the sub-company.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the sub-company is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      tags:
        - Core
      summary: Modify a sub-company.
      description: The endpoint modifies certain attributes of the specified sub-company. This endpoint is available only if the sub-company module is enabled.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the sub-company.
                  type: string
                note:
                  description: A note or additional information associated with the sub-company. This field is optional.
                  type: string
                email:
                  description: The email address associated with the sub-company.
                  type: string
      parameters:
        - name: sub_company_id
          in: path
          required: true
          description: The ID of the sub-company.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '204':
          description: Operation successful.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/inventories:
    get:
      tags:
        - Inventory
      summary: List inventories.
      description: The endpoint returns all inventories under your company (including inventories under sub-company if the sub-company feature is enabled), or a specified sub-company. An inventory represents a collection of SIMs and the available pre-defined configurations that can be attached to them.
      parameters:
        - name: count
          in: query
          description: The number of items you want to retrieve in a single API call.
          schema:
            type: integer
        - name: offset
          in: query
          description: The parameter is used in pagination to specify the starting point in the data set from where the 'count' number of items will be returned. For example, if the offset is set to 10 and the count is set to 5, the API will skip the first 10 items and then return the next 5 items in the data set.
          schema:
            type: integer
        - name: company
          in: query
          description: The parameter is used to filter by the company ID. Useful if you have sub-company feature enabled.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the list of inventories are returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: The total number of countries in the response.
                    type: integer
                    format: int64
                  offset:
                    description: The offset value used for pagination, indicating the starting point of the returned countries.
                    type: integer
                    format: int64
                  count:
                    description: The number of countries included in the current response.
                    type: integer
                    minimum: 1
                    maximum: 100
                  inventories:
                    description: An array containing the list of inventories.
                    type: array
                    items:
                      $ref: '#/components/schemas/Inventory'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - Inventory
      summary: Create a new inventory.
      description: The endpoint allows the creation of an inventory under a sub-company's account. Only companies that enable the sub-company management feature can create inventories for their sub-companies. An inventory represents a collection of SIMs and the available pre-defined configurations that can be attached to them.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the inventory.
                  type: string
                note:
                  description: A note or additional information associated with the inventory.
                  type: string
                company:
                  description: The identifier of the parent company of the created inventory, represented as an integer.
                  type: integer
                parent_inventory:
                  description: The identifier of the parent inventory, if applicable, represented as an integer.
                  type: integer
                display_currency:
                  description: The currency used for displaying monetary values in the inventory, represented as a string.
                  type: string
                template:
                  description: If provided, the inventory is going to be created and automatically activated based on the specification of the pre-defined template. To acquire a template ID, please speak with your account manager.
                  type: integer
      parameters:
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, a new inventory is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory'
        '400':
          description: Invalid inputs
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/inventories/{inventory_id}:
    get:
      tags:
        - Inventory
      summary: Retrieve an inventory.
      description: The endpoint retrieves the details of a specific inventory. An inventory represents a collection of SIMs and the available pre-defined configurations that can be attached to them.
      parameters:
        - name: inventory_id
          in: path
          required: true
          description: The ID of the inventory.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the sub-company is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Inventory'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      tags:
        - Inventory
      summary: Modify an inventory.
      description: The endpoint modifies certain attributes a the specified inventory. This feature is only available if the sub-company module is enabled. Please contact support for more information.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The new name of the inventory.
                  type: string
      parameters:
        - name: inventory_id
          in: path
          required: true
          description: The ID of the inventory.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '204':
          description: Operation successful.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/groups:
    get:
      tags:
        - Inventory
      summary: List groups.
      description: The endpoint retrieves a list of groups. A group represents a collection of SIM cards that share common attributes or belong to a specific category. Group can be used to achieve pooled billing/balance.
      parameters:
        - name: count
          in: query
          description: The number of items you want to retrieve in a single API call.
          schema:
            type: integer
        - name: offset
          in: query
          description: The parameter is used in pagination to specify the starting point in the data set from where the 'count' number of items will be returned. For example, if the offset is set to 10 and the count is set to 5, the API will skip the first 10 items and then return the next 5 items in the data set.
          schema:
            type: integer
        - name: inventory
          in: query
          description: This query parameter allows you to filter the results of the list groups endpoint based on the inventory to which the groups belong.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the list of groups is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: The total number of groups in the response.
                    type: integer
                    format: int64
                  offset:
                    description: The offset value used for pagination, indicating the starting point of the returned countries.
                    type: integer
                    format: int64
                  count:
                    description: The number of countries included in the current response.
                    type: integer
                    minimum: 1
                    maximum: 100
                  groups:
                    description: An array containing the list of groups.
                    type: array
                    items:
                      $ref: '#/components/schemas/Group'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - Inventory
      summary: Create a new group.
      description: The endpoint allows the creation of the group in the inventory.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The name of the group.
                  type: string
                inventory:
                  description: The identifier of the inventory in which the new group is to be created.
                  type: integer
                template:
                  description: If provided, the group is going to be created and automatically activated based on the specification of the pre-defined template. To acquire a template ID, please speak with your account manager.
                  type: integer
      parameters:
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, a new group is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid inputs
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/groups/{group_id}:
    get:
      tags:
        - Inventory
      summary: Retrieve a group.
      description: The endpoint returns the detailed information of the specified group.
      parameters:
        - name: group_id
          in: path
          required: true
          description: The ID of the group.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the group is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      tags:
        - Inventory
      summary: Modify a group.
      description: The endpoint modifies some certain attributes of the specified group.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The new name of the group.
                  type: string
      parameters:
        - name: group_id
          in: path
          required: true
          description: The ID of the group.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '204':
          description: Operation successful.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/sim-registries:
    get:
      tags:
        - Inventory
      summary: List SIMs.
      description: The endpoint lists all the SIMs in your company. Can be filtered by an inventory or a group if specified.
      parameters:
        - name: count
          in: query
          description: The number of items you want to retrieve in a single API call.
          schema:
            type: integer
        - name: offset
          in: query
          description: The parameter is used in pagination to specify the starting point in the data set from where the 'count' number of items will be returned. For example, if the offset is set to 10 and the count is set to 5, the API will skip the first 10 items and then return the next 5 items in the data set.
          schema:
            type: integer
        - name: inventory
          in: query
          description: This query parameter allows you to filter the results of the list groups endpoint based on the inventory to which the groups belong.
          schema:
            type: integer
        - name: group
          in: query
          description: This query parameter allows you to filter the results of the list SIMs endpoint based on the group to which the SIMs belong.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the list of SIMs is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: The total number of groups in the response.
                    type: integer
                    format: int64
                  offset:
                    description: The offset value used for pagination, indicating the starting point of the returned countries.
                    type: integer
                    format: int64
                  count:
                    description: The number of countries included in the current response.
                    type: integer
                    minimum: 1
                    maximum: 100
                  sims:
                    description: An array containing the list of SIMs.
                    type: array
                    items:
                      $ref: '#/components/schemas/SIM'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/sim-registries/{iccid}:
    get:
      tags:
        - Inventory
      summary: Retrieve a SIM.
      description: The endpoint returns the detailed information of the specified SIM.
      parameters:
        - name: iccid
          in: path
          required: true
          description: The ICCID of the SIM. It is a unique identifier for the SIM card and is typically a 19 to 20-character long alphanumeric string.
          schema:
            type: string
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the SIM is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIM'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    put:
      tags:
        - Inventory
      summary: Modify a SIM.
      description: The endpoint modifies certain attributes of the specified SIM.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group:
                  description: The new group of the SIM.
                  type: integer
      parameters:
        - name: iccid
          in: path
          required: true
          description: The ICCID of the SIM. It is a unique identifier for the SIM card and is typically a 19 to 20-character long alphanumeric string.
          schema:
            type: string
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '204':
          description: Operation successful.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      tags:
        - Inventory
      summary: Purge a SIM.
      description: The endpoint purges the SIM. After purging, the SIM services would be completely terminated. The operation can not be reverted.
      parameters:
        - name: iccid
          in: path
          required: true
          description: The ICCID of the SIM. It is a unique identifier for the SIM card and is typically a 19 to 20-character long alphanumeric string.
          schema:
            type: string
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '204':
          description: On successful completion of the operation, the SIM profile will be purged, meaning that the SIM profile will be permanently deleted or removed from the system.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/sim-transfers:
    get:
      tags:
        - Inventory
      summary: List SIM transfer requests.
      description: The endpoint allows the transfer of SIM cards from a parent inventory to another inventory of a sub-company. It is only available to companies that have the sub-company module enabled. The reverse operation is not supported.
      parameters:
        - name: count
          in: query
          description: The number of items you want to retrieve in a single API call.
          schema:
            type: integer
        - name: offset
          in: query
          description: The parameter is used in pagination to specify the starting point in the data set from where the 'count' number of items will be returned. For example, if the offset is set to 10 and the count is set to 5, the API will skip the first 10 items and then return the next 5 items in the data set.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the list of SIM transfers is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    description: The total number of transfers in the response.
                    type: integer
                    format: int64
                  offset:
                    description: The offset value used for pagination, indicating the starting point of the returned countries.
                    type: integer
                    format: int64
                  count:
                    description: The number of countries included in the current response.
                    type: integer
                    minimum: 1
                    maximum: 100
                  sim_transfers:
                    description: An array containing the list of SIM transfers.
                    type: array
                    items:
                      $ref: '#/components/schemas/SIM_transfer'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      tags:
        - Inventory
      summary: Create a SIM transfer request.
      description: The endpoint enables the transfer of SIM cards from one of the company's current inventories to a sub-company's inventory. It is only available to companies that have the sub-company module enabled. The transferred SIM cards can be assigned to a specific whitelist or group in the destination inventory, and the wallet mode for the transferred SIM cards can be specified.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_inventory:
                  description: The identifier of the source inventory from which the SIM cards will be transferred. This should be one of the company's existing inventories.
                  type: integer
                dest_inventory:
                  description: The identifier of the target inventory where the SIM cards will be transferred. This should be one of the company's existing inventories.
                  type: integer
                dest_whitelist:
                  description: The identifier of the whitelist in the destinaion inventory to which the transferred  SIM cards will be assigned.
                  type: integer
                dest_group:
                  description: The identifier of the group in the destinaion inventory to which the transferred  SIM cards will be assigned.
                  type: integer
                wallet_mode:
                  description: The wallet mode for the transferred SIM cards, such as "SIM".
                  type: string
                sims:
                  description: An object containing the SIM card details.
                  type: object
                  properties:
                    iccids:
                      description: Option 1. Specify the ICCIDs directly. Specify an array of ICCIDs (Integrated Circuit Card Identifiers) representing the SIM cards to be transferred.
                      type: array
                      items:
                        $ref: '#/components/schemas/Iccid'
                    start:
                      description: Option 2. Specify an ICCID range. The starting ICCID number of the range to be transferred.
                      type: string
                    end:
                      description: The ending ICCID number of the range to be transferred.
                      type: string
                callback:
                  description: Once the transfer request is processed, a callback notification will be sent to the specified URL with pre-determined headers.
                  type: object
                  properties:
                    url:
                      description: The URL destination to which the callback notification will be sent once the transfer request is processed.
                      type: string
                    headers:
                      description: The list of headers and values which are expected at the receiving endpoint. Leave empty if none.
                      type: array
                      items:
                        $ref: '#/components/schemas/Header'
      parameters:
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '202':
          description: Accepted.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIM_transfer'
        '400':
          description: Invalid inputs
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/sim-transfers/{sim_transfer_id}:
    get:
      tags:
        - Inventory
      summary: Retrieve a SIM transfer info.
      description: The endpoint allows you to retrieve detailed information about a specific SIM transfer request. Transfer requests are initiated when you want to transfer SIM cards from one inventory to another, strictly from parent to sub-company inventories. Please note that once a transfer request is completed, the operation is not reversible, and the transferred SIMs cannot be moved back to their original inventory.
      parameters:
        - name: sim_transfer_id
          in: path
          required: true
          description: This path parameter is used to specify the identifier of the SIM transfer request for which you want to retrieve detailed information.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the SIM transfer is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIM_transfer'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Authentication failed.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '403':
          description: Authorization failed or forbidden access to the requested resource.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /inventory/sim-transfers/{sim_transfer_id}/report:
    get:
      tags:
        - Inventory
      summary: Retrieve a SIM transfer request report.
      description: The endpoint allows you to retrieve a comprehensive report containing detailed status information for each individual SIM transfer request.
      parameters:
        - name: sim_transfer_id
          in: path
          required: true
          description: This path parameter is used to specify the identifier of the SIM transfer request for which you want to retrieve detailed information.
          schema:
            type: integer
        - name: request-id
          in: header
          description: The parameter is returned in the response header. It functions as a reference ID to assist client-side developers, particularly when working with asynchronous systems. This unique identifier helps in tracking individual requests, aiding in troubleshooting and system monitoring.
          schema:
            type: string
        - name: version
          in: header
          description: If this header is not provided, or if an invalid version is given, the API will default to using the latest version available.
          schema:
            type: string
      responses:
        '200':
          description: On success, the SIM transfer report is returned.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
              description: The 'Reference-ID' will be generated uniquely by the system and assign it to each request served by the system. It will be used for internal traceability. It will be very helpful if provided in support ticket.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIM_transfer_report'
        '400':
          description: Invalid inputs.
          headers:
            request-id:
              description: The 'Request-ID' from request header will be provided as it is in response header.
              schema:
                type: string
            reference-id:
[...]
